.footer__column-link {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 1.5s;
}

.footer__column-link:hover {
    cursor: pointer;
    opacity:50%;
}

