.feynman__link {
    transition: 1.5s;
    font-size: 36px;
    font-weight: 400;
    line-height: 51px;
    color: var(--main-blue);
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 48px;
}

.feynman__link:hover {
    opacity:70%;
}
